#myTimer > div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 65px;
}
.cnt {
  border: 1px solid red;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
